[project]
name = "degenbot"
version = "0.0.2"
authors = [
    { name="BowTiedDevil", email="devil@bowtieddevil.com" },
]
description = "Python classes to aid rapid development of Uniswap V2 & V3 arbitrage bots on EVM-compatible blockchains"
#readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    'eth-abi>=4.2.0,<5',
    'eth-typing>=3.4.0,<4',
    'eth-utils>=2.2.1,<3',
    'hexbytes>=0.3.1,<1',
    'pytest>=7.0,<8',
    'scipy>=1.11.3,<1.12',
    'ujson>=5.8.0',
    'web3>=6.11.0,<7',
    'websockets>=11.0.3,<13.0',
]
license = {text = "MIT"}
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: POSIX",
]

[project.urls]
Repository = "https://github.com/bowtieddevil/degenbot"
Tracker = "https://github.com/BowTiedDevil/degenbot/issues"
Twitter = "https://twitter.com/BowTiedDevil"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.mypy]
check_untyped_defs = true

[tool.ruff]
line-length = 100
indent-width = 4
