[project]
name = "degenbot"
version = "0.2.3"
authors = [
    { name="BowTiedDevil", email="devil@bowtieddevil.com" },
]
description = "Python classes to aid rapid development of Uniswap V2 & V3, and Curve V1 arbitrage bots on EVM-compatible blockchains"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    'scipy >=1.12.0, <1.13',
    'ujson >= 5.9.0, <6',
    'web3 >=6.15.0, <7',
]
license = {text = "MIT"}
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: POSIX",
]

[project.optional-dependencies]
tests = [
    'pytest',
    'pytest-asyncio',
    'pytest-cov',
    'pytest-doc',
    'pytest-xdist',
    'python-dotenv',
]

[project.urls]
Homepage = "https://www.degencode.com"
Repository = "https://github.com/BowTiedDevil/degenbot"
Tracker = "https://github.com/BowTiedDevil/degenbot/issues"
Twitter = "https://twitter.com/BowTiedDevil"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.mypy]
files=[
    "src/degenbot", 
    "tests/",
]
python_version = "3.10"

[[tool.mypy.overrides]]
module="degenbot.*"
strict = true

[[tool.mypy.overrides]]
module="tests.*"
disable_error_code = [
    "no-untyped-def",
]

[[tool.mypy.overrides]]
module=[
    "eth_abi.*",    
    "scipy.*",
    "ujson.*",
]
ignore_missing_imports = true

[tool.ruff]
line-length = 100
indent-width = 4

[tool.coverage.run]
source = ["src/degenbot"]

[tool.coverage.report]
exclude_also = [
    "if TYPE_CHECKING:", # exclude type checking imports and checks
    "except Exception", # exclude catch-alls
    "return NotImplemented", # required for __eq__, __lt__, __gt__
    "def __hash__",
    "def __repr__",
    "def __str__",
    "logger.debug",
]

[tool.pytest.ini_options]
asyncio_mode = "auto"
addopts = "--cov --cov-branch --cov-report=html"
python_files = "test_*.py"
testpaths = "tests"
